.covers {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
}

.cover {
    justify-content: space-between;
    position: relative;

    img {
        max-width: 100%;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            outline: solid 3px var(--c-pink);
        }
    }
}

@media only screen and (min-width: 900px) {
    .covers {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}