* {
	box-sizing: border-box;
}

:root {
	--c-yellow: #f1c33c;
	--c-font: #d1d5f0;
	--c-highlight: #2c2f5a;
	--c-active: #fd807e;
	--font: 'Play', sans-serif;
	--c-purple-1: #4d557a;
	--c-purple-2: #3d4363;
	--c-blue-1: #54b4f1;
	--c-blue-2: #3f6298;
	--c-pink: #d970c5;
}

html { scroll-behavior: smooth; }

a {
	color: whitesmoke;
	font-weight: 900;
	text-decoration: none;
	font-style: italic;
}

body {
	margin: 0 auto;
	width: 100%;
	padding: 20px;
	background: linear-gradient(var(--c-purple-1), var(--c-purple-2));
	
	font-family: var(--font);
	font-size: 18px;
	
	color: var(--c-font);
}

h1 {
	margin-bottom: 100px;
}

h2 {
	margin-top: 50px;
}

.blink {
	animation: blink 2s infinite linear;
	font-style: italic;
	color: var(--c-yellow);
	font-weight: 900;
}

table {
	border-collapse: collapse;
	font-size: .9em;
}
	th {
		padding: 10px 0;
		font-style: italic;
		text-transform: uppercase;
	}
	tr:nth-child(even), thead {
		background: var(--c-highlight);
	}

	td {
		padding: 10px 20px;
	}

	td:nth-child(1) {
		width: 75%;
	}

	td:nth-child(2) {
		text-align: center;
	}

.total {
	text-align: center;
	font-style: italic;
	font-size: .8em;
}

@keyframes blink {
	from {
		filter: hue-rotate(0deg);
	}
	
	to {
		filter: hue-rotate(360deg);
	}
}

@media (min-width: 1024px) {
	body {
		max-width: 1024px;
		margin: 0 auto;
	}
}

@media (max-width: 800px) {
	figure {
		margin: 0;
	}
}